boto3==1.20.54
Flask==2.2.2
gast==0.4.0
grpcio==1.50.0
gunicorn==20.0.4
h5py==3.7.0
itsdangerous==2.1.2
Jinja2==3.1.2
Keras-Preprocessing==1.1.2
libclang==14.0.6
torch==1.10.1
torchvision==0.11.2
linc-detector==0.1.2
Markdown==3.4.1
MarkupSafe==2.1.1
opt-einsum==3.3.0
Pillow==9.3.0
protobuf==3.19.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
requests==2.26
rsa==4.9
termcolor==1.1.0
urllib3==1.26.13
Werkzeug==2.2.2
wrapt==1.14.1
zipp==3.11.0