<!doctype html>
<div class="column is-4 is-offset-4" style="padding: 25px;">
	<title>LINC Detector Web Application</title>
	<h2 size="paragraph">Upload and Display Annotated Image from LINC Detector App</h2>
	<p>
		{% with messages = get_flashed_messages() %}
		  {% if messages %}
			<ul>
			{% for message in messages %}
			  <li>{{ message }}</li>
			{% endfor %}
			</ul>
		  {% endif %}
		{% endwith %}
	</p>
	{% if filename %}
		<div>
			<img src="{{ url_for('display_image', filename=filename) }}">
		</div>
	{% endif %}
	<form method="post" action="/" enctype="multipart/form-data">
		<dl>
			<p>
				<input type="file" name="file" autocomplete="off" required>
			</p>
		</dl>
		<p>
			<input type="submit" value="Detect Lion &#129409;">
		</p>
	</form>
</div>